# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
api/.python-version

# Node
node_modules/
.next/
out/
build/
.next-env.d.ts
app/.env*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# Analysis
.ipynb_checkpoints/
analysis/analysis_report.html
analysis/.ipynb_checkpoints/
